a{
	text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
div .top-log{
	float:right;
}
nav{
  /*display:inline-block;*/
  /*width:45%;*/
  /*background-color: lightpink;*/
  margin:5%;
  }
  nav li{
	  display:inline-block;
	  padding:31px;
	 /* color:grey;*/
	  /*background-color:yellow;*/
	  margin:2%;
	  list-style-type: none;
  }
  li a{
       color:grey;
  }
h1{
  font-size:90px;
}
div.slogan{
  text-align:center;
  display:inline-block;
  width:60%;
  margin-top: 5%;
  margin-left:10%;
  margin-bottom:10%;
  
}
div.top-image{
  float: right;
  margin-right:20px;
}
h2{
	font-size: 50px;
}
.top-content{
	line-height: 1.5;
	word-spacing:3px;
}
.paragraph1 {
  display:inline-block;
  width:45%;
  margin-top:5%;
  margin-right:15px;
  margin-bottom:5%;
  margin-left:5%;
  text-align: left;
}
.paragraph2{
  display:inline-block;
  width:45%;
  margin-top:5%;
  text-align: left;
  margin-bottom:5%;
  margin-right:2%;
}

 .middle-img{
  display:block;
	margin-left: auto; 
	margin-right:auto;
	background-size:cover;
  }
  .bottom-content{
	  line-height: 1.5;
	  word-spacing: 3px;
  }
.paragraph3{
  display:inline-block;
  width:30%;
  text-align: left;
  margin:5% 10px 10px 50px
}
.paragraph4{
  display:inline-block;
  width:30%;
  text-align: left;
  margin:5% 5px;
}
.paragraph5{
  display:inline-block;
  width:30%;
  text-align: left;
  margin:5% 5px;
}
.address{
line-height: double;
}
p{
	font-size:20px;
}
.address h2{
	margin-top:5%;
}
.phone{
	margin:30px 0 30px 0;
}
footer div{
	text-align:center;
}

